<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - RCVD E-learning</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="container">
    <div class="">
  <h1><%= course.title %></h1>
  <p><em>By <%= course.author %></em></p>
  <hr>
  <p><%= course.description %></p>
  <hr>
    <div class="course-lessons">
        <% if (lessons.length === 0) { %>
            <p>No lessons available for this course yet.</p>
        <% } else { %>
            <ul>
            <% lessons.forEach((lesson, index) => { %>
                <li>
                <strong>Lesson <%= index + 1 %>: <%= lesson.title %></strong>
                <p><%= lesson.content %></p>
                </li>
            <% }) %>
            </ul>
        <% } %>
    </div>
    <p>
      <span class="small-text">Published on: <%= new Date(course.created_at).toLocaleDateString('en-GB') %></span>
    </p>
    <p>
      <a href="/quiz/<%= course.id %>">Start Quiz</a>
    </p>
    
    <!-- Add a lesson form -->
     <% if (user && user.type === 'Instructor') { %>
      <form class="lesson-form" action="/course/<%= course.id %>/lessons" method="POST">
        <input type="text" id="lesson-title" name="title" placeholder="Enter lesson title" required>

        <textarea id="lesson-content" name="content" placeholder="Enter lesson content" required></textarea>

        <button type="submit">Add Lesson</button>
      </form>
    <% } %>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
