<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courses - RCVD E-learning</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
  <%- include('partials/header') %>

    <div class="container">
        <img src="images/img1.jpg" alt="" class="course-image">
        <h1>Courses</h1>

  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>

  <% if (courses.length > 0) { %>
    <div class="courses">
      <% courses.forEach(course => { %>
       <a href="/course/<%= course.id %>" class="one-course">
  <span class="course-title"><%= course.title %></span>
  <hr>
  <em>By <%= course.author %></em>
  <p>
    <%= course.description %>
  </p>
  
  <span class="small-text">
    <em>Posted on <%= new Date(course.created_at).toLocaleDateString('en-GB') %></em>
  </span>
</a>

      <% }) %>
      </div>
  <% } else { %>
    <p>No courses found.</p>
  <% } %>
  <img src="images/img3.jpg" alt="" class="course-image">
    </div>
    
  <%- include('partials/footer') %>
</body>
</html>
